{% extends 'base.html.twig' %}

{% block body %}

{{ include('app/nav.html.twig') }}

<div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-5">

    {% block content %}{% endblock %}

</div>

{% endblock %}