{% extends 'base.html.twig' %}

{% block body %}

<div class="relative min-h-screen bg-gray-100">

    {{ include('app/nav.html.twig') }}

    <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-5">

        {% block content %}{% endblock %}

    </div>

</div>

{% endblock %}