{
    skip_install_trust
    auto_https off

    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        {$FRANKENPHP_CONFIG}
    }
}

{$CADDY_EXTRA_CONFIG}

http://localhost:8080 {
    encode zstd br gzip

    root /app/public

    vulcain

    {$CADDY_SERVER_EXTRA_DIRECTIVES}

    php_server {
        {$FRANKENPHP_SITE_CONFIG}

        worker {
            file ./public/index.php
            {$FRANKENPHP_WORKER_CONFIG}
        }
    }
}
