<header>
    <h1 class="text-2xl font-bold text-gray-900">{{ 'Mappers' | trans }}</h1>
    <p class="text-sm font-medium text-gray-500">
        {{ 'List of mappers that have their first edit in the region' | trans }}
    </p>
</header>